@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic);

*{
	padding: 0;
	margin: 0;
}


body{
	background-image: url('../img/overlay.png');
	min-height: 100%;
	height: auto;
	font-family: 'Lato', 'Arcon', sans-serif;
}

.container{
	max-width: 320px;
	margin: 2% 2%;
	box-shadow: 0 0 15px 3px rgba(0,0,0, 0.5);
	transition: box-shadow 0.3s;
}

.container:hover{
	box-shadow: 0 0 10px 3px rgba(0,0,0, 0.3);
}

@media (max-width: 480px) {
	.container{
		max-width: 390px;
		margin: 2% auto;
	}

	#form_container{
		width: 92%;
		margin: 0;
	}

	body div#container form{
		width: 370px;
	}
}

@media screen and (min-width: 480px){
	#form_container{
		width: 100%;
	}
}

#form_container, #compare-container{
	margin: auto;
	padding-top: 2%;
	background-color: #4D6DE3;
	opacity: 0.7;
}

body div.container form{
	position: relative;
	width: 80%;
	margin: 2% auto 2px;
	background-color: #F1FCFD;
	padding: 5%;
	color: #393737;
}

body div.container form label.frequence{
	font-size: 0.9em;
	display: block;
	margin-top: 1%;
}

body div.container form label.monnaie{
	font-size: 0.9em;
	display: inline;
	margin-right: 3%;
	margin-top: 1%;
	margin-bottom: 2%;
}

.label-text{
	position: relative;
	top: 25px;
	left: 5px;
	transition: all 0.3s ease;
}

.label-text-top{
	position: relative;
	top: 0px;
	left: 5px;
}

.champ{
	display: block;
	max-width: 300px;
	width: 70%;
	height: 25px;
	padding-left: 2%;
	background-color: transparent;
	outline: none;
	border-style: none;
	border-bottom: 2px solid #4D6DE3;
	color: #4D6DE3;
	font-weight: bold;
	//border: 1px solid red;
}

#result_box{
	width: 200px;
	height: 40px;
	margin: 2% auto;
	padding: 2%;
	//background-color: #FFF; //#FBE0D9;
	color: #302624;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}

#monnaie, #resultat{
	display: inline-block;
}

#monnaie{
	width: 95px;
	text-align: left;
	font-size: 0.7em;
	vertical-align: top;
}

#resultat{
	width: 95px;
	text-align: right;
}


/****************************************
****** Tables rules *********************
****************************************/
#compare-container{
	margin: auto;
	width: 100%;
	text-align: center;
}

table.simulation{
	display: inline-block;
	margin: 0;
	background-color: #F1FCFD;
	//border: 1px solid red;
}

table.simulation caption{
	//border: 1px solid #302624;
	padding: 1%;
}

table.simulation tbody tr td{
	width: 72px;
	border: 1px solid #4D6DE3;
	padding: 1.5%;
}

#tab1{
	
}

#tab2{

}