//@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic);

*{
	padding: 0;
	margin: 0;
}


body{
	padding: 0;
	background: url('../img/bg01.png') #A7A7A7;
	min-height: 100%;
	height: auto;
	font-family: 'Source Sans Pro', 'Arcon', sans-serif;
}

/****************************************
****** header and search bar rules ******
****************************************/

body header#head{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	background-color: #7D7D7D;
	z-index: 100;
}

body header#head div#search_contain{
	margin: 8px 0 8px 5px;
	display: inline-block;
	position: relative;
}

body header#head div#search_contain input#searchin{
	width: 400px;
	background-color: rgba(207, 207, 207, 0.5);
	border-style: none;
	padding: 5px;
	outline: none;
	color: #FFF;
	font-size: 1.1em;
}

::-webkit-input-placeholder{
	color: #FFF;
}

::-ms-input-placeholder{
	color: #FFF;
}

::-moz-placeholder{
	color: #FFF;
}

body header#head div#search_contain button#search{
	position: absolute;
	left: 380px;
	top: 5px;
	background-color: transparent;
	border-style: none;
	cursor: pointer;
	outline: none;
}

body header#head div#search_contain button#search,
body header#head div#search_contain input{
	display: inline-block;
}

body header#head div#search_contain button#search i.fa{
	font-size: 1.1em;
	color: #FFF;
}

/****************************************
************ cards infos rules **********
****************************************/

body div.container div.unit_contain div.infos div.taux{
	width: 32%;
	height: 60%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background: rgba(207, 207, 207, 0.5);
	padding-top: 10px;
	-webkit-transition: transform .25s linear;
	   -moz-transition: transform .25s linear;
	    -ms-transition: transform .25s linear;
	     -o-transition: transform .25s linear;
	        transition: transform .25s linear;
	cursor: pointer;
}

body div.container div.unit_contain div.infos div.taux:hover{
	transform: scale(1.2, 1.2);
	background-color: #7d7d7d;
	color: #FFF;
}

body div.container div.unit_contain div.infos div.taux p{
	display: block;
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	font-weight: bold;
}

/****************************************
************ containers rules ***********
****************************************/

body div#second-contain{
	max-width: 319px;
}

body div.container{
	display: inline-block;
	vertical-align: top;
	max-width: 380px;
	width: 100%;
	margin: 4% 0 0 1%;
	//border: 1px solid #7D7D7D;
	//background-color: #fff;
	//box-shadow: 0 0 15px 3px rgba(0,0,0, 0.5);
	//transition: box-shadow 0.3s;
}

body div.container div.unit_contain{
	width: 100%;
	height: 90px;
	background-color: #fff;
	border-top: 4px solid #7D7D7D;
	color: #727272;
	margin-bottom: 10px;
}

body div.container div.unit_contain div.infos p{
	margin: 0;
	font-size: 0.9em;
}

body div.container div.unit_contain div.infos h3{
	padding: 5px 0 0 0;
	margin: 0;
	font-size: 1em;
	color: #7D7D7D;
	text-align: center;
}

body div.container div.unit_contain div.logo,
body div.container div.unit_contain div.infos{
	display: inline-block;
	height: 90px;
	margin: 0;
}

body div.container div.unit_contain div.logo{
	width: 30%;
	background-image: url('../img/overlay.png');
	background-color: rgba(125, 125, 125, 1);
	color: #FFF;
	font-size: 3em;
	text-align: center;
}

body div.container div.unit_contain div.logo i.fa{
	vertical-align: middle;
	margin-top: 15px;
}

body div.container div.unit_contain div.infos{
	width: 69.1%;
	//background-color: rgba(125, 125, 125, 0.5);
	vertical-align: top;
}

.container:hover{
	//box-shadow: 0 0 10px 3px rgba(0,0,0, 0.3);
}

@media screen and (min-width: 480px){
	#form_container{
		width: 100%;
	}
}

#form_container{
	position: relative;
	margin: auto;
	padding: 2% 0 5% 0;
	background-color: #FFF;
}

body div.container div#form_container form{
	position: relative;
	width: 80%;
	margin: 2% auto 2px;
	
	padding: 3%;
	color: #727272;
}

body div.container form label.frequence{
	font-size: 0.9em;
	display: block;
	margin-top: 4%;
}

body div.container form div#monnaie-container{
	margin-bottom: 3%;
}

body div.container form div label.monnaie{
	font-size: 0.9em;
	display: inline;
	margin-right: 3%;
	margin-top: 1%;
	margin-bottom: 2%;
}

.label-text{
	position: relative;
	top: 25px;
	left: 5px;
	transition: all 0.3s linear;
}

.label-text-top{
	position: relative;
	top: 2px;
	left: 5px;
}

.champ{
	display: block;
	max-width: 300px;
	width: 70%;
	height: 25px;
	padding-left: 2%;
	margin: 1% 1.5%;
	background-color: transparent;
	outline: none;
	border-style: none;
	border-bottom: 2px solid #727272;
	color: #727272;
	font-weight: bold;
	font-size: 0.95em;
	//border: 1px solid red;
}

#result_box{
	width: 300px;
	height: 40px;
	margin: auto;
	padding-top: 2%;
	color: #727272;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}

#monnaie, #resultat{
	display: inline-block;
}

#monnaie{
	font-size: 0.7em;
	vertical-align: top;
}

#bouton_container{
	position: absolute;
	top: 10%;
	left: 80%;
	//border: 1px solid #727272;
}

body div.container div#form_container div#bouton_container button{
	display: block;
	margin-bottom: 20px;
	width: 45px;
	padding: 4%;
	background-color: #727272;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	color: #727272;
	border: 1px solid #727272;
	transition: background-color 0.4s linear;
}

body div.container div#form_container div#bouton_container button:hover{
	background-color: #FFF;
}

body div.container div#form_container div#bouton_container button:hover span i.fa{
	color: #727272;
	font-size: 2em;
}

body div.container div#form_container div#bouton_container button span i.fa{
	font-size: 2em;
	color: #FFF;
	transition: color 0.4s linear;
}

/****************************************
******** Canvas section rules ***********
****************************************/

body div#analyse #canvas-holder{
	display: inline-block;
	width: 490px;
	background-color: #FFF;
	//border: 1px solid #727272;
	margin-right: 10px;
}

/****************************************
****** Compares section rules ***********
****************************************/
body div.container div#comparaison table#horizontal{
	display: table;
	width: 100%;
}

body div.container div#comparaison table#horizontal caption{
	display: table-caption;
	color: #7D7D7D;
	background-color: #D7D7D7;
	margin: 0;
	padding: 5px;
	font-size: 1em;
	border-bottom: 1px solid #7D7D7D;
	text-align: center;
}

body div.container div#comparaison table#horizontal tr{
	width: 100%;
	color: #7D7D7D;
	border-bottom: 1px solid #7D7D7D;
	font-size: 0.9em;
	display: table-row;
}

body div.container div#comparaison table#horizontal tr:last-child{
	border-style: none;
}

body div.container div#comparaison table#horizontal tr th{
	text-align: left;
	display: table-cell;
	padding: .5% 0 .5% 1%;
}

body div.container div#comparaison table#horizontal tr td{
	display: table-cell;
	padding: .5% 0 .5% 1%;
}

body div.container div#comparaison table#horizontal tr > td:last-child{
	background-color: #D7D7D7;
}

/****************************************
****** Echeancier section rules *********
****************************************/

body div#analyse table{
	margin: 1% auto;
	table-layout: fixed;
	border-collapse: collapse;
	max-width: 480px;
	width: 100%;
	color: #7D7D7D;
	text-align: center;
	border: 1px solid #7D7D7D;
}

body  div#analyse table caption{
	border-top: 1px solid #7D7D7D;
	border-left: 1px solid #7D7D7D;
	border-right: 1px solid #7D7D7D;
}

body div#analyse table caption, body div#analyse table thead{
	background-color: #D7D7D7;
}

body div#analyse table tbody tr td{
	padding: 0;
}

body table tbody tr td{
	border: 1px solid #7D7D7D;
	margin: 0;
	cursor: pointer;
	background-color: #FFF;
	-webkit-transition: transform .1s linear;
	   -moz-transition: transform .1s linear;
	    -ms-transition: transform .1s linear;
	     -o-transition: transform .1s linear;
	        transition: transform .1s linear;
}

body table tbody tr td:hover{
	background-color: #7D7D7D;
	color: #FFF;
	font-weight: bold;
	-webkit-transform: scale(1.1, 1.1);
	   -moz-transform: scale(1.1, 1.1);
	    -ms-transform: scale(1.1, 1.1);
	     -o-transform: scale(1.1, 1.1);
	        transform: scale(1.1, 1.1);
}

/*****************************************
* Media Queries rules for responsiveness *
*****************************************/
@media screen and (max-width: 480px) {

	body header#head div#search_contain{
		width: 100%;
		margin: 8px auto;
	}
	
	body header#head div#search_contain input#searchin{
		display: block;
		width: 90%;
		margin: auto;
	}

	body header#head div#search_contain button#search{
		left: 85%;
	}


	body div#analyse table{
		top: 0;
	}

	body table thead tr th{
		font-size: 0.8em;
	}

	body table tbody tr td{
		padding: 0;
		font-size: 0.8em;
	}

	body div.container{
		display: block;
		width: 90%;
		margin: auto;
	}

	body div.container div.unit_contain div.infos{
		float: right;
	}

	body div.container div.unit_contain div.infos div.taux p{
		font-size: 0.8em;
	}

	body div.container div.unit_contain div.infos p{
		display: inline;
		font-size: 0.8em;
	}

	body div.container div.unit_contain div#quote span{
		font-size: 0.9em;
		float: right;
	}

	body div#first-contain{
		margin-top: 60px;
	}

	body div#second-contain{
		width: 90%;
		margin: auto;
	}

	body div#analyse{
		display: block;
		width: 98%;
		margin: auto;
		padding: 0;
	}

	body div#analyse #canvas-holder{
		width: 100%;
		margin: auto;
	}

}


@media (min-width: 480px) and (max-width: 750px) {

	body div#analyse table{
		top: 0;
		margin: auto;
	}

	body table thead tr th{
		font-size: 1em;
	}

	body table tbody tr td{
		padding: 0;
		font-size: 1em;
	}

	body div.container{
		display: block;
		width: 90%;
		margin: auto;
	}

	body div.container div.unit_contain div.infos{
		float: right;
	}

	body div.container div.unit_contain div.infos div.taux{
		font-size: 0.8em;
	}

	body div.container div.unit_contain div.infos p{
		display: inline;
		font-size: 0.8em;
	}

	body div.container div.unit_contain div#quote span{
		font-size: 0.9em;
		float: right;
	}

	body div#first-contain{
		margin-top: 60px;
	}

	body div#second-contain{
		width: 90%;
		margin: auto;
	}

	body div#analyse{
		display: block;
		width: 98%;
		margin: auto;
		padding: 0;
	}

	body div#analyse #canvas-holder{
		width: 100%;
		margin: auto;
	}

}

@media (min-width: 750px){

	body div#analyse table{
		top: 0;
	}

	body table thead tr th{
		font-size: 1em;
	}

	body table tbody tr td{
		padding: 0;
		font-size: 1em;
	}

	body div.container{
		width: 90%;
		margin-top: 60px;
	}

	body div#analyse{
		width: 37%;
		margin-top: 60px;
		padding: 0;
	}

}

/***************************************
****** Analyse container rules *********
***************************************/

body div#analyse{
	display: inline-block;
	position: relative;
	margin-top: 60px;
	margin-left: 1%;
	background-color: #FFF;
}

body div#analyse section{
	display: block;
	width: 100%;
	height: 30px;
	margin: 0 auto;
	overflow: hidden;
}

body div#analyse section:last-child{
	border-top: 1px solid #7D7D7D;

}

body div#analyse section h2{
	font-size: 1em;
	font-weight: bold;
	width: 100%;
	line-height: 2em;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #D7D7D7;
	color: #7D7D7D;
}

body div#analyse section h2 a{
	display: block;
	width: 100%;
	line-height: 2em;
	text-decoration: none;
	color: inherit;
	outline: 0 none;
}



div#analyse section,
div#analyse section h2
{
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

div#analyse section:target{
	height: 30em;
	background-color: #fff;
	overflow-y: scroll;
}

div#analyse section:target h2
{
	font-size: 1.1em;
	color: #6A6A6A;
}

body div.container div#comparaison{
	margin-top: 1%;
	background-color: #FFF;
}