/****************************************
************ weather   rules ***********
****************************************/
div.logo{
	#weatherlogo{
		width: 80%;
	}
}

div.unit_contain{
	div.weather{
		padding-left: 1px;
		background-color: #fff;
		position: relative;
	}

	div#weather-box:hover{
		background-color: #D7D7D7;

		div.weather{
			cursor: pointer;
			z-index:  101;
			background-color: #d7d7d7;
		}
	}
}

div.weather{
	div.weather-info-left,
	div.weather-info-right{
		text-align: center;
		width: 50%;
		display: inline-block;
		padding: 0;
		margin: 0;
		line-height: 17px;
	}

	div.weather-info-right{
		float: right;
		line-height: 16px;
	}

	div.weather-info-left{
		float: left;
		margin-top: 8px;
	}
}

div.weather-info-right{ 
	table{
		display: table;
		margin: 0;
		width: 100%;

		tr{
			display: table-row;
			background-color: #7d7d7d;
			color: #ffffff;
			padding: 0;
			text-align: center;
			font-weight: bold;
		
			&:first-child{
				border-bottom: 1px solid #ffffff;
			}
		}
	}

	p{
		text-align: left;
	}
}

div.weather-info-left{
	div p#temperature{
		display: inline-block;
		font-size: 3.5em;
		font-weight: bold;
		margin: 0;
	}

	div > div{
		display: inline-block;
		padding: 0;
	}

	#degree{
		line-height: 18px;
		position: relative;
		left: 0;
		top: -10px;
	}

	#celcius{
		font-size: 1.5em;
		font-weight: bold;
	}

	#description{
		text-align: center;
		display: block;
		margin: 0;
		padding: 0;
		background-color: #7d7d7d;
		color: #FFFFFF;
		font-weight: bold;
	}
}